.textos {
	display: block;
	font-family: helvetica;
	font-size: 18px;
	margin-left: 550px;
}

div {
	display: block;
	background-color: yellow;
	margin-top: 15px;
	padding: 10px;
	height: 50px;
	width: 190px;
}

#rojo {
	background-color: red;
}